<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro y Expresiones - Javascript</title>
</head>
<body>
<h4>Registro</h4>

<input type="text" id="nombre" placeholder="Ingrese nombre">
<br>
<br>
<input type="text" id="apellido" placeholder="Ingrese apellidos">
<br>
<br>
<input type="text" id="rfc" placeholder="Ingrese RFC ">
<br>
<br>
<input type="text" id="curp" placeholder="Ingrese su CURP ">
<br>
<br>
<input type="text" id="clave" placeholder="Ingrese la clave del plantel ">
<br>
<br>

<button onclick="validarFormulario()"> Registrar </button>


</body>
<script src="/assets/js/registro.js"></script>
</html>