<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio-17</title>
</head>
<body>

<table>
    <tr>
        <td><img src="https://www.chevrolet.com.mx/content/dam/chevrolet/na/mx/es/index/performance/2024-corvette-z06/colorizer/01-images/v2/ceramic-matrix-gray-metallic.jpg?imwidth=960" alt="imagen 1" width="400"></td>
        <td><img src="https://www.chevrolet.com.mx/content/dam/chevrolet/na/mx/es/index/performance/2024-corvette-z06/colorizer/01-images/v2/amplify-orange-tintcoat.jpg?imwidth=960" alt="imagen 2" width="400"></td>
        <td><img src="https://www.chevrolet.com.mx/content/dam/chevrolet/na/mx/es/index/performance/2024-corvette-z06/colorizer/01-images/v2/accelerate-yellow-metallic.jpg?imwidth=960" alt="imagen 3" width="400"></td>
    </tr>
    <tr>
        <td style="text-align:center"><span style="font-size: 30px" id="likes1">0</span></td>
        <td style="text-align:center"><span style="font-size: 30px" id="likes2">0</span></td>
        <td style="text-align:center"><span style="font-size: 30px" id="likes3">0</span></td>
    </tr>
    <tr>
        <td style="text-align: center"><input type="button" value="Me gusta" onclick="like()"></td>
        <td style="text-align: center"><input type="button" value="Me gusta" onclick="like()"></td>
        <td style="text-align: center"><input type="button" value="Me gusta" onclick="like()"></td>
    </tr>
</table>

</body>
<script src="/assets/js/contador.js"></script>
</html>